requirements/
setup/
environment.yml
LICENSE.txt
Makefile
data/
*/*/__pycache__
*/*/*/__pycache__
lab1/lightning_logs
lab1/training/logs
lab2/notebooks/lightning_logs
lab2/training/logs
lab3/notebooks/lightning_logs
lab3/training/logs
lab4/training/logs